/* Define a fonte padrão para o corpo do documento */
body {
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Impede a rolagem horizontal */
}

/* Define o estilo do fundo animado de estrelas */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    perspective: 500px;
    z-index: -1;
    overflow: hidden;
}

/* Define o estilo das estrelas animadas */
.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: #fff;
    animation: moveStars 10s linear infinite;
}

/* Animação das estrelas */
@keyframes moveStars {
    from {
        transform: translateZ(0);
    }
    to {
        transform: translateZ(-200px);
    }
}

/* Define o estilo do cabeçalho */
header {
    text-align: center;
    padding: 20px 0;
}

/* Define o estilo da imagem de perfil */
.profile-img {
    border-radius: 50%;
    border: 3px solid #0ff;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    transition: border-color 0.5s ease;
}

/* Define o efeito de hover da imagem de perfil */
.profile-img:hover {
    transform: scale(1.1);
    border-color: #ff00ff;
}

/* Define o efeito de text-shadow para títulos quando hover */
h1:hover, h2:hover {
    text-shadow: 0 0 10px white;
    transition: text-shadow 0.3s ease;
}

/* Define o estilo da seção principal */
main {
    padding: 50px 20px;
    padding-bottom: 60px;
}

/* Define o estilo do rodapé */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #000;
    padding: 20px 0;
    color: white;
}

/* Define o estilo dos ícones das redes sociais */
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin-right: 10px;
    color: #333;
    font-size: 24px;
    text-decoration: none;
}

.social-icons a:hover {
    color: turquoise;
}

.social-icons a i {
    font-size: 40px !important;
    margin-right: 10px;
}

/* Define o estilo do menu de navegação */
.menu {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
}

.menu a:hover {
    color: turquoise;
}

.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.menu li {
    list-style-type: none;
    color: white;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.menu li i {
    margin-right: 10px;
}

.menu li::before {
    margin-right: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}

/* Define o estilo dos conteúdos ocultáveis */
.content {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
    text-align: justify;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.content.active {
    display: block;
}

/* Define o estilo da seção de soft skills */
#soft-skills {
    padding: 50px 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Define o estilo da lista de soft skills */
.skills-soft-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

/* Define o estilo das caixas de soft skills */
.skill-soft {
    width: 300px;
    height: 250px;
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #1abc9c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: justify;
    word-wrap: break-word;
}

/* Define o efeito de hover das caixas de soft skills */
.skill-soft:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    border-color: #ff00ff;
}

.skill-soft h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.skill-soft p {
    color: turquoise;
    font-size: 1rem;
}

.skill-soft-category {
    margin-bottom: 30px;
}

.skill-soft-category h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

/* Define o estilo das caixas de hard skills */
.skill-hard {
    width: 200px;
    height: 150px;
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #1abc9c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Define o efeito de hover das caixas de hard skills */
.skill-hard:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    border-color: #ff00ff;
}

#hard-skills h2 {
    text-align: center;
}

.skill-hard h4 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
}

.skill-hard p {
    color: turquoise;
    font-size: 1rem;
}

.skill-hard-category {
    margin-bottom: 30px;
}

.skill-hard-category h3 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

/* Define o estilo do ícone das hard skills */
#icon-hard {
    font-size: 75px;
    color: turquoise;
    transition: transform 0.3s ease, color 0.5s ease;
}

#icon-hard:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    color: #ff00ff;
}

/* Define o estilo da seção de serviços */
#servicos h2 {
    text-align: center;
}

/* Define o estilo da seção de projetos */
#projetos {
    padding: 50px 20px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Define o estilo da lista de projetos */
.projetos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

/* Define o estilo das caixas de projetos */
.repo-box {
    width: 250px;
    height: 250px;
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #1abc9c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Define o efeito de hover das caixas de projetos */
.repo-box:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    border-color: #ff00ff;
}

.repo-box h3 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.repo-box p {
    color: turquoise;
    font-size: 1rem;
}

/* Define o estilo do link para o jogo no GitHub */
.github-link {
    color: turquoise;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 10px;
}

/* Define o estilo do ícone do GitHub nos links */
#icon-projetos {
    font-size: 45px;
    color: turquoise;
    transition: transform 0.3s ease, color 0.5s ease;
}

#icon-projetos:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    color: #ff00ff;
}

/* Define o estilo do link para jogar o jogo */
.github-game {
    display: inline-block;
    padding: 5px 10px;
    background-color: turquoise;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.github-game:hover {
    background-color: #ff00ff;
}

/* Define o botão de voltar ao topo */
#btnTopo {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 9999;
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 44px;
    transition: transform 0.3s ease;
    transition: color 0.5s ease;
}

#btnTopo:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.1);
    color: #ff00ff;
}

#topo {
    font-size: 15px;
}

/* Define o estilo para telas menores que 768px */
@media screen and (max-width: 768px) {
    /* Altera o estilo do container e da imagem em telas menores */
    .container {
        display: block;
        background-image: none;
    }

    .container_imagem {
        width: 50vw;
    }

    .container_caixa {
        margin: 2em 2em;
    }
}
